<link rel="stylesheet" href="css/style.css">

<div class="sidebar-panel">
    <ul>
        <li class="active">
            <%= PageName %>
        </li>
        <li> Employees </li>
        <li> Logout </li>
    </ul>
</div>

<script>


</script>