<link rel="stylesheet" href="css/style.css">

<div class="sidebar-panel">
    <ul>
        <li class="active">
            <%= PageName %>
        </li>
        <li> Employees </li>
        <li class="logout"> Logout </li>
    </ul>
</div>

<script>
    // logout
    const logout = document.querySelector(".logout");
    logout.addEventListener("click", async (e) => {
        e.preventDefault();
        const confirmed = confirm("are u sure u want to logout");


        //if true then logout user 
        if (confirmed == true) {
            window.location.href = '/login';
        }
    });

</script>