<link rel="stylesheet" href="css/home.css">


<main class="wrapper">
    <header class="menu">
        <%- include('../layouts/header') %>
    </header>

    <div class="container">
        <div class="sidebar">
            <%- include('../layouts/sidebar', {PageName: 'Home' }) %>
        </div>

        <div class="content">
         <!-- <div class="row">
            
         </div> -->
        </div>

        <!-- <div class="menus">

        </div> -->
    </div>

</main>
<footer>
    <%- include('../layouts/footer', {PageName: 'Home' }) %>

</footer>

<script src="js/home.js"></script>